body {
    margin: 0;
    padding: 0;
    background-color: blue;

}

ul {
    position: relative;
    width: 450px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 30px black;

}

ul li {
    display: flex;
    background: red;
    padding: 10px 20px;
    color: white;
    margin: 5px 0;
    transition: 0.5s;
}

ul li span:nth-child(1) {
    width: 30px;
}

ul li span:nth-child(2) {
    width: 200px;
}

ul li span:nth-child(3) {
    width: 100px;
}

ul li span:nth-child(4) {
    width: 70px;
}

/* ul li:before {
    content: '';
    transition: transform 0.5s;
    transform-origin: top;
    background: #3fff00;
}

ul li:hover {
    transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: top;
} */