/*
    MAIN PAGE LAYOUT:
*/

* {
  margin: 3px;
  box-sizing: border-box;
  font-family: 'Alkalami', serif;

}

body {
  height: 95vh;
  background-color: #282828;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  overflow-x: hidden;
}

main section {
  text-align: left;
}


.main {
  display: flex;
  flex: 3 3;
}

.main b {
  font-size: 5vh;
}

.header_main {
  background-color: #0C0032;
  padding: 2em 0 2em 0;
  display: flex;
}

header img {
  width: 10vh;
}

main {
  background-color: #3200c7;
  padding: 2em 0 2em 0;
  flex: 50%;
  flex: 5 5 150px;
  max-width: 100%;
}

main section h1 {
  margin-bottom: 1em;
  font-size: 5vh;
  text-align: center;
}


a {
  color: white;
  width: 100%;

}




/*   FOOTER:   */

.footer_style {
  background-color: #0C0032;
  padding: 2em 0 2em 0;
}



/*
    PLAY PAGE LAYOUT:
*/

body .main_play {
  width: auto;
}

main.main_play {
  width: 60vw;
  flex: 3 3 0rem;
}

#gameCanvas{
  box-shadow: 10px 10px 30px black;
}

/*
    SmartPhone Section
*/

@media all and (max-width: 768px) {
  section {
    flex-direction: column;
  }

  .game_table {
    font-size: 1.7vh;
  }

  .game_table .game {
    text-align: center;
    height: 100vh;
    width: 100%;
    border-top: #0C0032 solid 3px;
    grid-template-rows: 1.1fr 1.1fr 1.1fr 1.1fr;
    grid-template-columns: 1.1fr 1.1fr 1.1fr 1.1fr;
    padding: 1vh;
  }

  div {
    flex-direction: column;
  }

  main .main_home {
    order: 2;
    min-width: 100%;

  }

  .game_table header {
    display: none;
  }

  .game_table footer {
    display: none;
  }

  .game_table article {
    height: 95vh;
    display: grid;

    width: auto;

  }

  article .best_score {
    grid-row: 4;
    grid-column: 2;
    font-size: large;
    color: white;
  }

  article button {
    background-color: #190061;
    color: white;
  }

  .game {
    font-size: 0em;
  }

  .game canvas {
    max-width: 100%;
    ;
  }

  main section.actions button {
    font-size: large;
  }

  .game section button[data-action="start"],
  .game section button[data-action="save"],
  .game section button[data-action="quit"] {
    width: 15vh;
    height: 18vh;
    margin-top: 25px;

  }

  main.main_play {
    width: 100%;
    flex: 3 3 0rem;
  }
}
