<div class="chat">
    <main class="room_list">

    </main>

    <main class="room_page">
        <h1>
            <%= greeting + current_user %>
        </h1>
        <form class="create_room">
            <p>Create a New Room:</p>
            <input type="text" id="msg1">
            <button class="submit"> Send</button>
        </form>
    </main>

    <main class="friend_list">
        <div class="search">
            <p>Search User:</p>
            <input type="text">
        </div>
        <div class="user_list">

        </div>
    </main>
</div>