<p class="room_name">
    <%= room_name %>
    <img class="add_user" src="./images/add_user.png" height="30px" width="30px">
</p>

<form class="add">
    <input type="text" id="msg1">
    <button class="submit" id="add_button"> Add </button>
</form>

<div class="message">
    <% for(let i=0; i < body.history.length; i++) { %>
        <% let time=body.history[i].timestamp %>
            <div class="msg">
                <div class="stamp">
                    <p class="name">
                        <%= body.history[i].user_fullname %>
                    </p>
                    <p class="time">
                        <%= time.substring(0, 9) + " " + time.substring(11, 19) %>
                    </p>
                </div>
                <p class="text">
                    <%= body.history[i].text %>
                </p>
            </div>
            <% } %>

</div>

<form class="send">
    <input type="text" id="msg2">
    <button class="submit">Send</button>
</form>