<main class="login_page">
    <input type="checkbox" id="check" aria-hidden="true">


    <form class="login">
        <label for="check" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="">
        <input type="password" name="pswd" placeholder="Password" required="">
        <input class="submit" type="submit" value="Login">
    </form>



    <form class="signup">
        <label for="check" aria-hidden="true">Sign up</label>
		<input type="text" name="firstname" placeholder="First name" required="">
		<input type="text" name="lastname" placeholder="Last name" required="">
        <input type="text" name="username" placeholder="User name" required="">
        <input type="email" name="email" placeholder="Email" required="">
        <input type="password" name="pswd" placeholder="Password" required="">
        <input class="submit" type="submit" value="Sign up">
    </form>
</main>


<script src="js/logic/chat_client.js"></script>
