<main class="login_page">
    <input type="checkbox" id="check" aria-hidden="true">


    <form class="login logout">
        <input class="submit" type="submit" value="Logout">
    </form>
</main>


<script src="js/logic/chat_client.js"></script>
