<html>

<head>
  <title>
    Pac-Man
  </title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/stylesheet/play.css" rel="stylesheet" />
  <link href="/stylesheet/style.css" rel="stylesheet" />
  <script src="/js/pacman/Maps.js"></script>

</head>



<body>

  <div class="main">
    <header>
      <button id="easy">
        Map 1
      </button>
      <button id="mid">
        Map 2
      </button>
      <button id="hard">
        Map 3
      </button>
    </header>

    <main class="main_play">

      <header>
        <p class="player"> Player:
          <span>
          </span>
        </p>
        <p class="score"> Score:
          <span>
          </span>
        </p>
        <p class="time"> Time:
          <span>
          </span>
        </p>
      </header>

      <section class="game">

        <canvas id="gameCanvas">

        </canvas>

        <section class="actions">
          <button data-action="start">
            Start
          </button>
          <button data-action="quit">
            Quit
          </button>
        </section>

      </section>
    </main>

  </div>

  <script src="/js/pacman/Game.js" type="module"></script>

</body>

</html>