<div id="profile">
    <div class="username">
        <%= user.username %>
    </div>
    <div class="fullname">
        <%= user.firstname + " " + user.lastname %>
    </div>
    <div class="email">
        <%= user.email %>
    </div>
    <div class="bio">
        <%= user.bio %>
    </div>
    <% if(relation != "Self") { %>
        <button class="follow"><%= relation %></button>
        <button class="chat">Have a talk</button>
    <% } %>
</div>