<div class="list">
    <% for(let i=0; i < room_list.length; i++) { %>
        <div class="room" id=<%=room_list[i]._id %>><%= room_list[i].name %>
        </div>
        <% } %>
</div>
<div class="create">Create in a new room!</div>