<% for(let i=0; i < user_list.length; i++) { %>
    <div class="user" id=<%=user_list[i]._id %>>
        <div class="user_icon">
            <img src="./images/user.png" height="20px" width="20px">
            <div class="name">
                <%= user_list[i].username %>
            </div>
        </div>
        <div class="status">
            <div class="follow_status"> following </div>
            <div class="online_status"> online</div>
        </div>
    </div>
    <% } %>