body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	/* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
}
main.login_page{
	width: 350px;
	height: 550px;
	background: goldenrod;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 5px 20px 50px #fff;
}
#check{
	display: none;
}
.login{
	position: relative;
	width:100%;
	height: 100%;

}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.signup>input, .login>input{
	width: 60%;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	outline: none;
	border-radius: 10px;
}
.submit{
	width: 70%;
	height: 40px;
	justify-content: center;
	display: block;
	color: #fff;
	background: #eee;
	font-size: 1em;
	font-weight: bold;
	border-radius: 10pt;
	transition: .2s ease-in;
	cursor: pointer;
	box-shadow: inset 0 0 10px 0 #000;
	transition: all .5s ease-in-out;
}
.submit:hover{
	background: white;
	color: goldenrod;
	box-shadow: 0 0 10px 0 #000;
}
.signup{
    height: 600px;
    background: #eee;
    border-radius: 10px;
    transform: translateY(-100px);
    transition: .8s ease-in-out;
    padding: 0.5px 0px 25px 0px;
}
.signup label{
	color: lightgoldenrodyellow;
	transform: scale(.6);
}

.credits-container {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 20px;
	border: 2pt solid goldenrod;
}

#check:checked ~ .signup{
	transform: translateY(-560px);
}
#check:checked ~ .signup label{
	transform: scale(1);	
}
#check:checked ~ .login label{
	transform: scale(.6);
}

main.room_page {
	width: 800px;
}

div.message {
	overflow-y: scroll;
	width: auto;
	height: 74.5%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

main.room_page > form > button.submit {
	margin-top: 15px;
}


p.room_name {
	font-size: 30px;
	align-items: center;
	font-style: oblique;
}

div.msg {
	display: grid;
    background-color: rgb(67, 65, 65);
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    height: auto;
    max-width: 93%;
    padding: 15px;
}

p {
	color: white;

}

div.stamp {
	display: flex;
	margin-left: 10px;
}

div.stamp p.name {
	font-size: 20px;
}

div.stamp p.time {
	font-size: 10px;
}

p.name {
	color: black;
}

p.text {
	font-size: 18px;
	font-style: italic;
	margin-left: 50px;
	word-wrap: break-word;
}

input#msg2 {
    margin: 20px 0px 20px 0px;
    width: 97%;
    border-radius: 15px;
    padding: 10px;
}
input {
	height: 30px;
	width: 400px;
}

form.add {
	display: none;
}

img.add_user {
	display: none;
}