.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: 100%;
  height: 100%;
}

.username {
  grid-area: 1 / 1 / 2 / 3;
}

.fullname {
  grid-area: 2 / 1 / 3 / 2;
}

.email {
  grid-area: 2 / 2 / 3 / 3;
}

.bio {
  grid-area: 3 / 1 / 4 / 3;
}

.follow {
  grid-area: 4 / 1 / 5 / 2;
}

.chat {
  grid-area: 4 / 2 / 5 / 3;
}

.highscores {
  grid-area: 5 / 1 / 6 / 3;
}

.username {
  color: goldenrod;
}

.fullname,
.email {
  color: lightgray;
}

.bio {
  margin: 0.25em;
  color: white;
  font-size: 1.8em;
  text-align: justify;
}

button.follow,
button.chat {
  /* fontSize = '20px'
    fontWeight = 'bold'
    button.style.color = 'white'
    button.style.backgroundColor = 'rgba(0, 0, 0, 0.5)'
    button.style.border = '1px solid goldenrod'
    button.style.borderRadius = '10px'
    button.style.margin = '5px' */
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid goldenrod;
  border-radius: 10px;
  color: goldenrod;
  transition: all 0.5s ease;
}

button.follow:hover,
button.chat:hover {
  /* fontSize = '20px'
    fontWeight = 'bold'
    button.style.color = 'white'
    button.style.backgroundColor = 'rgba(0, 0, 0, 0.5)'
    button.style.border = '1px solid goldenrod'
    button.style.borderRadius = '10px'
    button.style.margin = '5px' */
  background-color: goldenrod;
  border-radius: 15px;
  color: white;
}



.record-username {
  color: goldenrod;
}

.highscores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 9fr;
}

* {
  overflow: visible;
}

.leaderboard-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid goldenrod;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 5%;
  font-size: x;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 7.5px;
  justify-content: space-evenly;
}

.leaderboard-entry>p {
  font-size: 10px;
}

div.chat {
  width: 1600px;
  height: 900px;
  box-shadow: 5px 20px 50px #000;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1600px;
  height: 900px;
  box-shadow: 5px 20px 50px #000;
  display: flex;
  justify-content: space-around;
  padding: 50px 30px 50px 30px;
  border-radius: 15pt;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  border: 2pt solid goldenrod;
  -webkit-backdrop-filter: blur(100px);
}

main.room_page {
	width: 800px;
	display: flex;
	flex-direction: column;
}

div#profile {
  display: grid;
  gap: 1em 1em;
  align-items: stretch;
  justify-items: stretch;
  text-align: center;
}

div#profile button:hover {
	color: gold;
}

#profile-container > div#profile {
	display: block;
	align-items: flex-start;
	justify-items: flex-start;
    padding: 10px;
    width: 145px;
    position: relative;
    left: 20px;
    top: 190px;
    height: 300px;
}

#profile-container>div#profile>div.bio {
  font-size: 18px;
  color: darkgray;
}

#profile-container>div#profile>div.username {
  color: goldenrod;
  font-size: 21px;
}

p {
  color: white;
}

div.stamp {
  display: flex;
  margin-left: 10px;
}

div.stamp p.name {
  font-size: 16px;
}

div.stamp p.time {
  font-size: 10px;
}

.msg p.text {
  font-size: 18px;
  font-style: italic;
  margin-left: 50px;
  word-wrap: break-word;
  text-align: justify;
  margin: 20px;
}

input {
  height: 30px;
  width: 100%;
}

h1 {
  font-style: italic;
  font-weight: bold;
  color: gold;
}

div.search input {
  width: 260px;
}

main.room_list {
  width: 300px;
  background: rgb(47, 46, 46);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

div.list {
  overflow-y: scroll;
  height: 800px;
}

div.create {
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px goldenrod;
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
  background-color: white;
  color: goldenrod;
}

div.room {
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  background-color: goldenrod;
  border-radius: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

div.room:hover {
  background-color: white;
  color: goldenrod;
  border: 1pt solid goldenrod;
  box-shadow: 0 0 10px black;
  padding: 10px;
}

main.friend_list {
  width: 300px;
  background: rgb(47, 46, 46);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.user_list {
  overflow-y: scroll;
  height: 750px;
}

div.status {
  font-size: 15px;
}

div.search input {
  width: 260px;
}

div.user {
  height: 50px;
  padding: 15px;
  margin-bottom: 15px;
  margin-right: 20px;
  background-color: goldenrod;
  border-radius: 10px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.user:hover {
  background-color: white;
  color: goldenrod;
  border: 1pt solid goldenrod;
  box-shadow: 0 0 10px black;
  padding: 10px;
}

div.user div.name {
  margin-top: 5px;
}

div.status {
  font-size: 15px;
  display: none;
}

div.follow_status {
  margin-bottom: 20px;
}

div.stamp>p.name {
  color: gold;
}