
/*--------------------------------------------------------------------------------*/
/*                                  General Style                                 */
/*--------------------------------------------------------------------------------*/

@font-face {
    font-family: "pacmanfont";
    src: url("PACMANFONT.ttf");
}

@font-face {
    font-family: "pacmanfontbig";
    src: url("PACMANFONTBIG.ttf");
}
/*--------------------------------------------------------------------------------*/
/*                                  General Style                                 */
/*--------------------------------------------------------------------------------*/

/*..................................... Body .....................................*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

/*.................................... Header ....................................*/

/* Layout */
header {
    display: block;
    width: 100%;
    height: 64px;
    background-color: #f57222;
    border: solid 8px #fa0226;
    /* margin: solid 2px negro; */
}

/* Logo */
header > .logo {
    height: 48px;
    margin: 8px;
    float: left;
    display: block;
    
}

/* Title with marker font */
header > h1 {
    display: block;
    float: left;
    line-height: 64px; /* Can be used instead of flexboxes */
    font-family: 'PACMANFONT', cursive;
    margin: 0px;
    color: yellow;
}

/*.................................... Navigation ................................*/

/* Layout */
nav > ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

/* list without bullet-points */
nav > ul li {
    list-style-type: none; /*remove default dots*/
    padding: 0px;
    margin: 0px;
}

/* links style */
nav a {
    color: #f9f119;;
    text-decoration: none;
    line-height: 32px;
}

/* hovering-links style */
nav a:hover {
    transition-property: background-color, color;
    transition-duration: 250ms;
}

/*.................................... Footer ....................................*/

/* Layout */
footer {
    margin: 0px;
    padding: 5px;
    background: #f4790d;
    border-top: solid 1px black;
    flex-shrink: 0; /*For Sticky footer*/
}

footer p {
    margin: 0px;
}

/*..................................... Text .....................................*/

/* Page subtitles in blue*/
main h2 {
    color: #00e;
    font-family: 'Permanent Marker', cursive;
    text-align: left;
}

/* Main title per page */
.page-title {
    color: #f4790d;
    text-shadow: gray 1px -1px 0.5px;
    font-size: 3em;
    font-family: 'Permanent Marker', cursive;
    margin: 0px 0px 8px 0px;
}

/* Text-align center*/
.center-text {
    text-align: center;
}

/* Text-align right */
.righted-text {
    text-align: right;
}

/*--------------------------------------------------------------------------------*/
/*                                 General Layout                                 */
/*--------------------------------------------------------------------------------*/

/*................................ Holy Grail Layout .............................*/

.flexy-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

/*.............................. centering images .................................*/

.centering {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------------------------*/
/*                              Navigation: Main Menu                             */
/*--------------------------------------------------------------------------------*/

/* Background layout */
nav.main-menu {
    background: black;
    color: white;
}

/* Borders/Box to be Highlighted when hovering*/
nav.main-menu a {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

/* Hovering nav-style */
nav.main-menu a:hover {
    color: #f4790d;
    background-color: #33f;
}

/*--------------------------------------------------------------------------------*/
/*                          Navigation: Social Media Menu                         */
/*--------------------------------------------------------------------------------*/

/* Background layout */
aside.socialmedia-menu {
    background: #ffd000;
    color: white;
}

/* Icons distance */
aside.socialmedia-menu li {
    line-height: 0px; /*Distance between lines of text*/
}

/* Layout */
aside.socialmedia-menu a {
    display: block;
    height: 40px;
}

/* Hovering background aside-style */
aside.socialmedia-menu a:hover {
    color: #f4790d;
    background-color: #0303d9;
}

/* Icons size*/
aside img {
    width: 24px;
    padding: 8px;
}

/* Change icons' color while hovering nav-style */
aside img:hover {
    /* Can't style SVG that is loaded in an <img> tag, so use this: https://codepen.io/sosuke/pen/Pjoqqp */
    /* If you wonder, it makes black into orange */
    filter: invert(62%) sepia(30%) saturate(7488%) hue-rotate(358deg) brightness(99%) contrast(93%);
    /* just like Orange is the new Black */
    transition-property: filter;
    transition-duration: 250ms;
}

/*--------------------------------------------------------------------------------*/
/*                                Mobile size screen                              */
/*--------------------------------------------------------------------------------*/

@media (max-width: 767px) {
    /* Holy grail layout*/
    .flexy-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    /* Layout: Background nav style */
    nav.main-menu {
        display: inline-flex;
        border-bottom: solid 1px black;
        height: 32px;
    }

    /* Borders/Box to be Highlighted when hovering*/
    nav.main-menu a {
        padding: 0px 12px;
    }

    /* Main-menu row-like layout */
    nav.main-menu > ul {
        flex-direction: row;
    }

    /* Layout socialmedia*/
    aside {
        height: 40px;
    }

    aside.socialmedia-menu {
        display: inline-flex;
        border-top: solid 1px black;
        width: 100%;
        height: 40px;
    }

    /* Socialmedia-menu row-like layout */
    aside.socialmedia-menu ul {
        flex-direction: row;
    }

    .caption-wrap {
        flex-wrap: wrap;
    }

    img.thumbnail {
        width: 100%;
        margin: 0px;
    }

    main > section {
        margin: 10px;
    }

    .caption-wrap h2{
        font-size: 120%;
        margin: 0px 8px 4px 0px;
    }

    /*Main title in each page*/
    .page-title {
        text-align: center;
    }
    
    label.star {
        font-size: 18px; /*Star size*/
        padding: 3px;
    }
}

/*--------------------------------------------------------------------------------*/
/*                                Desktop size screen                             */
/*--------------------------------------------------------------------------------*/

@media (min-width: 768px) {
    /* Holy grail layout */
    .flexy-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch; /* Tip: swap "stretch" by "flex-start" to fit to size*/
    }

    nav.main-menu {
        margin: 8px;
        flex: 0 0 160px; /*grow shrink basis*/
        border: double 10px #0301fe;
    }

    /* Borders/Box to be Highlighted when hovering*/
    nav.main-menu a {
        padding: 5px 12px;
    }

    /* Main-menu column-like layout */
    nav.main-menu > ul {
        flex-direction: column;
        width: 100%
    }

    aside.socialmedia-menu {
        margin: 8px;
        flex: 0 0 40px; /*grow shrink basis*/
        border: double 10px #0301fe;
        line-height: 0px;
    }

    /* Socialmedia-menu column-like layout */
    aside.socialmedia-menu ul {
        flex-direction: column;
        width: 100%
    }

    .caption-wrap {
        flex-wrap: nowrap;
    }

    img.thumbnail {
        width: 250px; /* Set a small width */
        margin: 0px 8px 0px 0px;
    }

    .caption-wrap h2{
        font-size: 120%;
        margin: 0px 8px 4px 0px;
        width: 150px;
    }

    /*Main title in each page*/
    .page-title {
        text-align: left;
    }

    label.star {
        font-size: 23px; /*Star size*/
        padding: 6px;
    }
}

/*--------------------------------------------------------------------------------*/
/*                                       index.html                               */
/*--------------------------------------------------------------------------------*/

/*................................ Profile picture ...............................*/

#wakawaka{
    margin-right: 20%;
    font-family: 'Permanent Marker', cursive;
}

#pakapaka{
    margin-right: 20%;
    font-family: 'pacmanfont';
}

.profile {
    max-width:350px;
    max-height:350px;
    width:auto;
    height:auto;
}

/*................................. Text alignments ...............................*/

main ul {
    list-style-image: url('../images/dragonball.svg'); 
} 

/*--------------------------------------------------------------------------------*/
/*                                     blog.html                                  */
/*--------------------------------------------------------------------------------*/

/*.................................... Images ....................................*/

/*Thumbnail*/
img.thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
}
 
/* Hovering effect (orange shadow) in thumbnail */
.thumbnail:hover {
    box-shadow: 0 0 2px 1px #f4790d;
}

/*................................. Text alignments ...............................*/

/* Blog caption */
.caption-wrap {
    display: flex;
    float: left;
    margin-right: 8px;
}

/* Author */
.author {
    text-decoration: none;
    color: #33f;
    margin: 0px 0px 2px 8px;
}

/* Hovering author style */
.author:hover {
    color: #f4790d;
}

/* Date */
.date {
    font-size: 90%;
    color: gray;
    margin: 0px 0px 0px 8px;
} 
/* Text-top aligned to Thumbnail*/
.content-blog {
    margin-top: 0;
    padding-top: 8px;
}

/* Toggling links: Show more or less */
.fulltext p, .less {
    display: none;
}

.fulltext:target p, .fulltext:target .less {
    display: block;
}

.fulltext:target .more {
    display: none;
}

/* Hovering Toggling links: more*/
.more:hover{
    color: #f4790d;
}

/* Hovering Toggling links: less*/
.less:hover{
    color: #f4790d;
}

/* Fun facts style*/
.fun-fact {
    border: 3px solid #f4790d; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 15px;  /* Some padding */
    height: 50px; /* Set a small width */
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 120%;
}

/*--------------------------------------------------------------------------------*/
/*                                     gallery.html                               */
/*--------------------------------------------------------------------------------*/

/*.................................... Images ....................................*/

/*Thumbnail*/
img.thumbnail-gallery {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    height: 150px;
    margin: 20px; 
}
      
/* Hovering effect (orange shadow) */
img.thumbnail-gallery:hover {
    box-shadow: 0 0 2px 1px #f4790d;
}

/*............................... Images grid ...................................*/

.wrap-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/*--------------------------------------------------------------------------------*/
/*                                     poster.html                                */
/*--------------------------------------------------------------------------------*/

/*Inspirational sentence*/
#printing{
    font-family: 'Permanent Marker', cursive;
    font-size: 120%;
    text-align: left;
}

/*............................... Star rate ................................... Modified from: https://www.cssscript.com/simple-5-star-rating-system-with-css-and-html-radios/ */

div.star-rate {
    display: inline-block;
  }
  
  input.star {
      display: none;
    }
  
  label.star {
    float: right; /*Start selection with color transition: left to right*/
    color: #f4790d; /*Empty star border color*/
    transition: all .2s; /* Apply to all changed properties */
  }
  
  input.star:checked ~ label.star:before { /* ~: subsequent-sibling combinator. See: https://www.w3.org/TR/selectors-3/#general-sibling-combinators */
    content: '\f005'; /*fa-star full*/
    color: rgb(255, 221, 68);
    transition: all .20s; /* Apply to all changed properties */
  }
  
  input.star-1:checked ~ label.star:before {
    color: #f4790d;
  }

  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px rgb(153, 55, 84);
  }

  /* hovering star-style, rotation */
  label.star:hover {
      transform: rotate(17deg) scale(1.5);
    }
  
  label.star:before {
    content: '\f006' /*fa-star empty*/;
    font-family: FontAwesome;
  }

/*............................... Send button ...................................*/

  input[type=button] {
    background-color: #494;
    border: black;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
  }

  /* hovering-button style */
  input[type=button]:hover {
      background-color: #f4790d;
  }

/*................................ Validation ...................................*/

input:required:invalid {
    background-color: #f4790d; 
}
input:required:valid {
    background-color: green;
    color: white;
}

/*............................. Copies to print .................................*/

.slidecontainer {
    background-color: #494;
  }

  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: listbox;
    height: 30px; 
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* hovering-slider style */
  .slider:hover {
    opacity: 1; /* Darker on mouse-over */
  }

  /*............................. General Layout: Row & Columns .................................*/

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-basis: 30%;*/
  }
  
  .column {
    flex-basis: 100%;
  }
  
  /* For computer screen*/
  @media screen and (min-width: 768px) {
    .column {
      flex: 1; /*How flex item will grow or shrink*/
    }  
  }

  /* For mobile */
  @media screen and (max-width: 767px) {
    .column {
      flex: 0.5; /*How flex item will grow or shrink*/
    }
  }

  .wrap-poster {
    width: auto;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  
  /*Left-column*/
  .row > label {
    text-align: right;
    width: 50%;
    margin: 3px;
  }

  /*Right-column*/
  .row > input, .row > textarea, .row > #slide-area, .row > .star-rate {
      text-align: left;
      width: 30%;
      margin: 3px 20% 8px 0px;  
  }
