<style>
    body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	/* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
}
main.login_page{
	width: 150px;
	height: 300px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#check{
	display: none;
}
form.login{
	position: relative;
	width:100%;
	height: 100%;
    display: flex;
    flex-direction: column;
}
label{
	color: black;
	font-size: 20px;
	margin: 60px;
    margin-left: 50px;
    margin-bottom: 40px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
	opacity: 100%;
}
input{
	width: 60%;
	height: 20px;
    margin-top: 10px;
	background: white;
	margin-left: 30px;
	border-color: #89cff0;
	outline: none;
	border-radius: 5px;
}
.submit{
	width: 60%;
	height: 30px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #89cff0;
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	opacity: 100%;
}
.submit:hover{
	background: #6d44b8;
}
form.signup{
	height: 460px;
	background: #eee;
	border-radius: 10px;
	transform: translateY(-50px);
	transition: .8s ease-in-out;

}
form.signup label{
	color: #573b8a;
	transform: scale(.6);
    margin-left: 40px;
    font-size: 20px;
    
}


#check:checked ~ .signup{
	transform: translateY(-320px);
}
#check:checked ~ .signup label{
	transform: scale(1);	
}
#check:checked ~ .login label{
	transform: scale(.6);
}

</style>
<main class="login_page">
    <input type="checkbox" id="check" aria-hidden="true">


    <form class="login">
        <label for="check" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="">
        <input type="password" name="pswd" placeholder="Password" required="">
        <input class="submit" type="submit" value="Login">
    </form>



    <form class="signup">
        <label for="check" aria-hidden="true">Register</label>
		<input type="text" name="firstname" placeholder="First name" required="">
		<input type="text" name="lastname" placeholder="Last name" required="">
        <input type="text" name="username" placeholder="User name" required="">
        <input type="email" name="email" placeholder="Email" required="">
        <input type="password" name="pswd" placeholder="Password" required="">
        <input class="submit" type="submit" value="Sign up">
    </form>
</main>


<script src="js/logic/chat_client.js"></script>
